

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  
}
/* Other Design CSS */
.btn-design{
    font-weight: 600;
    font-size: 20px;
    background: #333;
    padding: 10px 20px;
    color: white;
    border: none;
}
/* Header style */
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4
    
}
.header-title{
    width: 800;
    margin: 0px;
    font-size: 45px;
    color: #0D1321;
}

/* banner design  */
#banner-section{
    position: absolute;
    align-items: center;

  
}
.banner{
    position: absolute;
    text-align: center;
    margin: 44px 221px 44px 221px;
     
}
.banner-image{
    width: 240px;
    height: auto;
}
.banner-title{
    font-weight: 800;
    font-size: 48px;
    text-align: center;

}
.banner-decription{
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-left: 221px;
    margin-right: 221px;
}




